<header class="bg-primary text-white text-center py-5">
  <h1 class="display-4">Bienvenido a JetMaintain</h1>
</header>
    <div class="container mt-5">
  
      
        
        <p>Somos una empresa de mantenimiento de motores de avión en Chile. Nuestro compromiso es garantizar que los motores de avión estén en perfecto estado para un vuelo seguro y eficiente.</p>
  
      

  </div>