<header class="bg-primary text-white text-center py-5">
  <h1 class="display-4">Editar mantenimiento</h1>
</header>
<div class="container mt-4 mb-2">
  <%= render "form_edit", maintenance: @maintenance %>

  <div class="mt-3 container">
    <%= link_to "Ver mantenimiento", @maintenance, class: "btn btn-primary mb-2" %> 
    <%= link_to "Volver a mantenimientos", maintenances_path, class: "btn btn-secondary mb-2" %>
  </div>
</div>
