<header class="bg-primary text-white text-center py-5">
  <h1 class="display-4">Nuevo motor</h1>
</header>

  <div class="content">
    <%= render "form", motor: @motor %>

    <br>

    <div>
      <%= link_to "Back to motors", motors_path, class: "btn btn-secondary" %>
    </div>
  </div>

